.experience__demo {
    padding-left: 1rem;
}

.experiencia__botao--demo {
    background-color: var(--rosa);
    border: 1px solid var(--rosa);
    color: var(--branco);
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.experiencia__botao--demo:hover {
    background-color: var(--cinza-escuro);
    color: var(--beje);
    transition-duration: 0.6s;
}